#btn_search{

  background-color: blue;
  border-radius: 5px;
  width: 45px;
}

#txt_country{
  width: 300px;
}

.container{


  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
body{
background-color: aquamarine;
background-image: url(img/map-world-with-words-world-white_981650-46355.avif);

background-size: 100%;


}